a,
a:hover,
a:visited {
  color: #F5F3EE !important;
  text-decoration: none;
}

body {
  position: relative;
  font-size: 180%;
  color: #555;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

#about {
  background-color: #F5F3EE;
  padding: 70px 35px 35px 35px;
}

#about h2,
#projects h2,
#contact h2 {
  margin-top: -15px;
  padding-bottom: 20px;
  text-align: center;
}

#about img:first-of-type {
  margin-bottom: 15px;
}

#contact {
  background-color: #F5F3EE;
  padding: 55px 0 30px 0;
  margin: 30px 0;
}

#footer {
  background-color: #7D1935;
  color: #555;
  padding: 25px 0;
}

#img-profile {
  margin: auto;
}

#localWeather, #twitchStreamer {
  height: 163px !important;
}

#project-border {
  border: 1px solid #222;
  margin-bottom: -1px;
}

#projects {
  padding: 55px 10px 10px 10px;
  margin: 40px 0;
  background-color: #F5F3EE;
}

.control {
  background-color: #4A96AD;
  color: #FFF;
  opacity: 1;
}

.control:hover {
  color: #FFF;
  opacity: 0.9;
}

.container-fluid {
  width: 90%;
}

.copyright p {
  color: #FFF;
}

.navbar {
  background-color: #7D1935;
  color: #fff;
}

.navbar-fixed-top {
  border: none;
}

.navbar-right {
  margin: 0 -9px 0 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #F5F3EE;
  color: #7D1935 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #F5F3EE;
  color: #7D1935 !important;
}

.round-image {
  border-radius: 50%;
}

.row {
  margin: 15px;
}

.social-media-xs {
  text-align: center;
  margin-bottom: 15px;
}

.social-media-xs ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

.social-media-xs ul li {
  display: inline;
  margin-right: 15px;
}

.social-media {
  text-align: right;
  padding: 0 15px;
}

.social-media a:hover {
  color: #4A96AD !important;
}

.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media ul li {
  display: inline;
  margin-right: 15px;
}

.space {
  position: relative;
  top: 40px;
}

.well {
  background-color: #fff;
  padding: 15px;
}

.well img {
  opacity: 1;
}

.well img:hover {
  opacity: 0.8;
}

.well p {
  font-size: 80%;
  padding: 5px 0 0 0;
  margin: 0;
  color: #555;
  text-align: center;
}